* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-background: #17141f;
  --card-background: #6441a4;
  --profile-card-background-color: #8956fb;

  --light-accent: white;
  --dark-accent: black;

  --gap-small: 1rem;
  --gap-medium: 1.5rem;
  --gap-large: 2rem;

  --border-radius-button: 50px;

  --font-size-small: 1em;
  --font-size-medium: 1.5em;
  --font-size-large: 2.5em;
}

@font-face {
  font-family: Twitch;
  src: url(/Twitchy.TV.ttf);
}

h1 {
  display: flex;
  justify-content: center;
  font-family: Twitch;
  font-size: var(--font-size-medium);
  color: var(--dark-accent);

  text-shadow:
    -2px -2px 0 #8956fb,
    2px -2px 0 #8956fb,
    -2px 2px 0 #8956fb,
    2px 2px 0 #8956fb,
    4px 4px 0 #8956fb;

  @media (min-width: 375px) {
    font-size: var(--font-size-large);
  }
}

.student-heading {
  color: var(--light-accent);
}

header {
  a {
    text-decoration: none;
  }
}

body {
  background-color: var(--primary-background);
}

main {
  .filters {
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
    padding: var(--gap-large);
    flex-wrap: wrap;
    list-style-type: none;

    a {
      display: inline-flex;
      justify-content: center;
      font-family: sans-serif;
      align-items: center;
      text-decoration: none;
      color: var(--light-accent);
      background-color: var(--card-background);
      border-radius: var(--border-radius-button);
      width: 100px;
      height: 40px;
      transition: 0.3s ease-in-out;
    }

    a:hover {
      background-color: rgb(137 86 251 / 30%);
    }

    a:active {
      background-color: rgb(137 86 251 / 30%);
    }
  }

  section {
    display: flex;
    justify-content: center;
    position: relative;

    input {
      display: inline-flex;
      background-color: var(--card-background);
      color: var(--light-accent);
      border-radius: 1rem;
      padding: 0.625rem;
      width: 100%;
      text-align: center;
      border: none;

      &::placeholder {
        color: var(--light-accent);
      }

      &:focus {
        outline: 0 none;
        outline-color: var(--card-background);
      }
    }
  }

  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 21rem), 1fr));
    gap: 1.5rem;
    padding: var(--gap-small);

    .card-box {
      display: grid;
      gap: var(--gap-small);
      padding: 2rem;
      border-radius: var(--gap-small);
      background: var(--card-background);
      width: 100%;
      max-width: 23rem;

      .card-image {
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          max-width: 14.2rem;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }

      .card-content {
        display: flex;
        flex-direction: column;

        p {
          color: var(--light-accent);
          font-size: var(--font-size-small);
        }

        a:first-of-type {
          text-decoration: none;
          /* background: var(--profile-card-background-color); */
          font-weight: bold;
          border-radius: 4px;

          h2 {
            color: var(--light-accent);
            background: var(--card-background);
            font-size: 1.6rem;
            border-bottom: 1px solid violet;
            margin-block-end: 1rem;
          }
        }

        a:nth-of-type(2) {
          text-decoration: none;
          background: var(--profile-card-background-color);
          font-weight: bold;
          border-radius: 4px;
          text-align: center;
          padding: 1rem;
        }

        a:nth-of-type(2):hover {
          color: var(--light-accent);
        }
      }
    }
  }
}
